<article>
   <p id="theName">{{this.title}}</p>
   <p id="theHours">{{this.duration}} minutes</p>
   <form id="removeForm" action="/remove/{{this._id}}" method="POST">
      <button id="removeButton">REMOVE</button>
   </form>
   <hr>
</article>